/* CSS simple et propre */
    body   { font-family: sans-serif;
         margin: 0; 
         background: #f4f4f9; 
         color: #333; }
    header { background: #2a0845; 
        color: gold; 
        padding: 20px; 
        text-align: center; }

    nav    { background: #444; 
        padding: 12px; 
        text-align: center; }

    nav button, nav a { background: gold; 
        color: #333;
        text-decoration: none;
        display: inline-block;
        border: none; 
        padding: 10px 20px; 
        margin: 0 8px;
                 font-weight: bold; 
                 cursor: pointer; 
                 border-radius: 5px; }


    main   { max-width: 900px; margin: 25px auto; padding: 10px; text-align: center; }
    .card  { display: inline-block; vertical-align: top; width: 200px; margin: 10px;
             padding: 15px; background: white; border-radius: 8px;
             box-shadow: 0 2px 5px rgba(0,0,0,0.2); }
    .card img { width: 100%; border-radius: 5px; }
    a.card { text-decoration: none; color: #2a0845; font-weight: bold; font-size: 18px; }
    
    footer { background: #2a0845; 
        color: gold; 
        text-align: center; 
        padding: 15px; }
